.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-body {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.RecipeList-table {
  width: 100%;
  margin-top: 2em;
  text-align: center;
}

.ingredients-list li {
  list-style: none;
}

div.RecipeList.hidden {
  display: none
}

.SearchBar {
  margin: 2em;
  width: 100%;
}

input{
  text-align:center;
  font-size: 120%;
}

.home-button{
  margin-top: 1em;
}